.top-card {
    display: flex;
    width: 100%;
    flex-flow: column wrap;
}

.recipe-cards {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-flow: wrap;
}

@media (max-width: 319px) {
    .recipe-cards {
        display: flex;
        width: 100%;
        margin: auto;
        flex-flow: column wrap;
        align-items: center;
    }
}

@media (min-width: 320px) and (max-width: 567px) {
    .recipe-cards {
        display: flex;
        width: 100%;
        height: 100%;
        margin: auto;
        flex-flow: column wrap;
        align-items: center;
    }
}

@media (min-width: 568px) and (max-width: 719px){
    .recipe-cards {
        display: flex;
        width: 100%;
        margin: auto;
        flex-flow: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
} 

/* @media (min-width: 720px) and (max-width: 900px){
} 

@media (min-width: 901px) and (max-width: 1103px){
} 

@media (min-width: 1104px) and (max-width: 1690px){
} */