.recipe-card-detail {
    padding: 2rem;
    margin: 2rem;
    background-color: rgb(55, 55, 55);
    border-radius: 30px;
    width: 90%;
    height: 42rem;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
}

.headSection {
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: space-evenly;
    width: 20%;
    height: auto;

}

.labelDetail {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: whitesmoke;
}

.recipeImageDetail {
    border-radius: 15px;
}

.quickInfos {
    display: flex;
    flex-flow: column wrap;
    width: 10%;
    height: auto;
    font-size: 2.2rem;
    color: whitesmoke;
}

.dietInfos {
    display: flex;
    flex-flow: column wrap;
    width: 20%;
    height: auto;
    font-size: 2.2rem;
    color: whitesmoke;
}

.nutritionInfos {
    display: flex;
    flex-flow: column wrap;
    width: 20%;
    height: auto;
    font-size: 2.2rem;
    color: whitesmoke;
}

.ingredientsLines {
    display: flex;
    flex-flow: column wrap;
    width: 20%;
    height: auto;
    font-size: 2.2rem;
    color: whitesmoke;
}

.recipe-icon {
    color: greenyellow;
}

/* .headSection {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column wrap;
    padding-left: 5rem;
}


.labelDetail {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.quickInfos, .dietInfos, .nutritionInfos {
    font-size: 1.5rem;
}

.quickInfos, .nutritionInfos {
    border: 1px solid black;
    border-radius: 3%;
    background-color: whitesmoke;
}

.dietInfos, .ingredientsLines {
    font-size: 1.5rem;
    text-align: justify;
    display: inline-flex;
    width: 60%;
    justify-content: center;
    align-items: center;
} */
