.recipe-card-detail {
    padding: 1em;
    margin: 1em;
    background: rgb(240, 235, 235);
    width: 90%;
    height: 70rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column wrap;
    border-radius: 2%;
}

.headSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 50%;
}


.labelDetail {
    font-size: 2.5rem;
    text-align: center;
    flex: 3;
}

.quickInfos, .dietInfos, .nutritionInfos {
    font-size: 1.5rem;
}

.quickInfos, .nutritionInfos {
    border: 1px solid black;
    border-radius: 3%;
}

.dietInfos, .ingredientsLines {
    font-size: 1.5rem;
    text-align: justify;
    display: inline-flex;
    width: 60%;
    justify-content: center;
    align-items: center;
}
