.recipe-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.label {
    font-size: 2.5rem;
}

.ingredientsLines {
    font-size: 1.5rem;
}
