.recipe-card {
    padding: 1em;
    margin: 1em;
    background: rgb(240, 235, 235);
    width: 35rem;
    height: 60rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column wrap;
    border-radius: 10px;
    color: black;
    box-shadow: 0px 8px 24px 1px rgb(55, 55, 55);
}

.label {
    font-size: 3rem;
    text-align: center;
    font-style: italic;
}

.recipeImage {
    border-radius: 15px;
}

.servings, .totalTime, .dietLabel {
    font-size: 2.5rem;
}

@media (max-width: 319px) {
    .recipe-card {
        display: flex;
        width: 50%;
        height: 100%;
        margin: auto;

    }
    .label {
        font-size: 1.5rem;
        text-align: center;
    }
    
    .recipeImage {
        border-radius: 15px;
        width: 30%;
        height: 30%;
    }

    .servings, .totalTime, .dietLabel {
        font-size: 1rem;
    }
}

@media (min-width: 320px) and (max-width: 567px) {
    .recipe-card {
        display: flex;
        width: 50%;
        height: 100%;
        margin: auto;

    }
    .label {
        font-size: 1.5rem;
        text-align: center;
    }
    
    .recipeImage {
        border-radius: 15px;
        width: 40%;
        height: 30%;
    }

    .servings, .totalTime, .dietLabel {
        font-size: 1rem;
    }
}

@media (min-width: 568px) and (max-width: 719px){
    .recipe-card {
        padding: 1em;
        margin: 1em;
        background: rgb(240, 235, 235);
        width: 15rem;
        height: 20rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: column wrap;
        border-radius: 10px;
        color: black;
        box-shadow: 0px 8px 24px 1px rgb(55, 55, 55);
    }
    .label {
        font-size: 1.5rem;
        text-align: center;
    }
    
    .recipeImage {
        border-radius: 15px;
        width: 50%;
        height: 40%;
    }

    .servings, .totalTime, .dietLabel {
        font-size: 1rem;
        text-align: center;
    }
} 

@media (min-width: 720px) and (max-width: 900px){
    .recipe-card {
        padding: 1em;
        margin: 1em;
        background: rgb(240, 235, 235);
        width: 15rem;
        height: 20rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: column wrap;
        border-radius: 10px;
        color: black;
        box-shadow: 0px 8px 24px 1px rgb(55, 55, 55);
    }
    .label {
        font-size: 1.5rem;
        text-align: center;
    }
    
    .recipeImage {
        border-radius: 15px;
        width: 60%;
        height: 40%;
    }

    .servings, .totalTime, .dietLabel {
        font-size: 1rem;
        text-align: center;
    }
} 

@media (min-width: 901px) and (max-width: 1103px){
    .recipe-card {
        padding: 1em;
        margin: 1em;
        background: rgb(240, 235, 235);
        width: 25rem;
        height: 40rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: column wrap;
        border-radius: 10px;
        color: black;
        box-shadow: 0px 8px 24px 1px rgb(55, 55, 55);
    }
    .label {
        font-size: 2rem;
        text-align: center;
    }
    
    .recipeImage {
        border-radius: 15px;
        width: 70%;
        height: 50%;
    }

    .servings, .totalTime, .dietLabel {
        font-size: 1.5rem;
        text-align: center;
    }
} 

@media (min-width: 1104px) and (max-width: 1690px){
    .recipe-card {
        padding: 1em;
        margin: 1em;
        background: rgb(240, 235, 235);
        width: 25rem;
        height: 35rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: column wrap;
        border-radius: 10px;
        color: black;
        box-shadow: 0px 8px 24px 1px rgb(55, 55, 55);
    }
    .label {
        font-size: 2rem;
        text-align: center;
    }
    
    .recipeImage {
        border-radius: 15px;
        width: 70%;
        height: 50%;
    }

    .servings, .totalTime, .dietLabel {
        font-size: 1.5rem;
        text-align: center;
    }
}