.recipe-card {
    padding: 1em;
    margin: 1em;
    background: rgb(240, 235, 235);
    width: 35rem;
    height: 60rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column wrap;
    border-radius: 10px;
    color: black;
    box-shadow: 0px 8px 24px 1px rgb(55, 55, 55);
}

.label {
    font-size: 3rem;
    text-align: center;
    font-style: italic;
}

.recipeImage {
    border-radius: 15px;
}

.servings, .totalTime, .dietLabel {
    font-size: 2.5rem;
}