.aboutProject {
    display: flex;
    height: 25rem;
    width: 80%;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 2rem 0 5rem 0;
}

.aboutProject p {
    font-size: 2.8rem;
    font-style: italic;
    line-height: 4rem;
    opacity: 0.5;
}

.title {
    text-align: center;
    font-size: 3rem;
    margin-top: 5rem;
    opacity: 0.5;
}

.contactCard {
    padding: 1rem;
    margin: 0rem 4rem 8rem 4rem;
    background: rgb(240, 235, 235);
    width: 35rem;
    height: 60rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column wrap;
    border-radius: 10px;
    color: black;
    box-shadow: 0px 8px 24px 1px rgb(55, 55, 55);
    text-align: center;
}

.contactCard p {
    font-size: 2rem;
    font-style: italic;
}

.contactCard p:third child {
    font-size: 3rem;
}

.contactDisplay {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contactName {
    font-size: 3rem;
    text-align: center;
}

.contactPic {
    border-radius: 15px;
    height: 35rem;
    width: 35rem;
}

.socialIcon {
    font-size: 3rem;
}

.socialIcons a {
    text-decoration: none;
    color: black;
    padding: 1rem;
}

.socialIcons a:hover {
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.socialIcons {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1200px) and (min-width: 769px) {
    .aboutProject {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}

@media (max-width: 768px) and (min-width: 568px) {
    .aboutProject {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .aboutProject p {
        font-size: 2.5rem;
    }
}

@media (max-width: 567px) and (min-width: 421px) {
    .aboutProject {
        margin-top: 7rem;
        margin-bottom: 7rem;
    }
    .aboutProject p {
        font-size: 2.3rem;
    }
    .contactCard {
        width: 30rem;
        height: 50rem;
    }
    .contactPic {
        height: 30rem;
        width: 30rem;
    }
    .title {
        font-size: 2.8rem;
    }
}

@media (max-width: 420px) and (min-width: 375px) {
    .aboutProject {
        margin-top: 7rem;
        margin-bottom: 7rem;
    }
    .aboutProject p {
        font-size: 2rem;
    }
    .contactCard {
        width: 25rem;
        height: 45rem;
    }
    .contactPic {
        height: 25rem;
        width: 25rem;
    }
    .title {
        font-size: 2.5rem;
    }
}

@media (max-width: 374px) and (min-width:321px) {
    .aboutProject {
        margin-top: 12rem;
        margin-bottom: 12rem;
    }
    .aboutProject p {
        font-size: 2rem;
    }
    .contactCard {
        width: 25rem;
        height: 45rem;
    }
    .contactPic {
        height: 25rem;
        width: 25rem;
    }
    .title {
        font-size: 2.2rem;
    }
}

@media (max-width: 320px) {
    .aboutProject {
        margin-top: 15rem;
        margin-bottom: 15rem;
    }
    .aboutProject p {
        font-size: 2rem;
    }
    .contactCard {
        width: 25rem;
        height: 45rem;
    }
    .contactPic {
        height: 25rem;
        width: 25rem;
    }
    .title {
        font-size: 2.2rem;
    }
}