.top-container {
    height: auto;
    width: 100%;
    margin-top: 0;
}

.top-container img {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10rem;
}

.middle-container {
    display: flex;
    justify-content: flex-end;
    height: 50%;
    padding-right: 15rem;
    padding-top: 0;
    margin-top: 0;
}
.middle-container img {
    width: 20%;
    height: 70%;
    padding-top: 0;
    margin-top: 0;
}

.empty-fridge {
    background-image: url('./noun_Plate_3498787.svg');
    background-size: cover;
    width: 32rem;
    height: 32rem;
    margin: auto;
    padding: 10rem;

    justify-content: space-between;
    /* box-shadow: 0 0 10px #555; */
    color: rgb(55, 55, 55);
}

.empty-fridge h2 {
    font-size: 3.7rem;
    margin-bottom: 4rem;
}

.description {
    font-weight: bold;
    font-size: 2.3rem;
    margin: 0 auto;
    color: rgb(55, 55, 55);
}

.description-text p {
    padding: 0.5rem;
}

.beige-bg {
    background-color: rgb(240, 235, 230);
    width: 100%;
    display: flex;
    align-items: center;
}

.filters-container {
    height: 50rem;
    width: 100%;
}

.bottom-container {
    height: 50rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.bottom-container img {
    padding: 10rem;
}

.flex-col-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
