.beige-bg {
    background-color: rgb(240, 235, 230);
    height: 40rem;
    width: 100%;
.top-container {
    height: 35rem;
    width: 100%;
}

.top-container img {
    padding: 10rem;
    padding-top: 5rem;
    padding-bottom: 0;
}

.whitesmoke-bg {
    background-color: white;
}

.start-container {
    height: 60rem;
    width: 100%;
}

.whitesmoke-bg {
    background-color: whitesmoke;
    height: 80rem;
    width: 100%;
}

.empty-fridge {
    background-image: url('./noun_Plate_3498787.svg');
    background-size: cover;
    width: 32rem;
    height: 32rem;
    margin: auto;
    padding: 10rem;

    justify-content: space-between;
    /* box-shadow: 0 0 10px #555; */
    color: rgb(55, 55, 55);
}

.empty-fridge h2 {
    font-size: 3.7rem;
    margin-bottom: 4rem;
}

.description {
    font-weight: bold;
    font-size: 2.3rem;
    margin: 0 auto;
    color: rgb(55, 55, 55);
}

.description-text p {
    padding: 0.5rem;
}

.filters-container {
    background-color: rgb(240, 235, 235);
    height: 50rem;
    width: 100%;
}

.bottom-container {
    height: 50rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.bottom-container img {
    padding: 10rem;
}

.flex-col-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
