
.flex-col-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-container {
    background: url('./cooking.jpg') no-repeat no-repeat;
    background-size: 100% 100%;
    height: 27rem;
    width: 100%;
}

.top-container img {
    padding: 10rem;
    padding-top: 5rem;
    padding-bottom: 0;
}

.start-container {
    display: flex;
    justify-content: center;
    height: 60rem;
    width: 100%;
    animation-name: slideEmptyFridge;
    animation-duration: 2s;
}

.whitesmoke-bg {
    background-color: white;
    height: 60rem;
    width: 100%;
}

.empty-fridge {
    background-image: url('./noun_Plate_3498787.svg');
    background-size: cover;
    width: 32rem;
    height: 29rem;
    padding: 10rem;
    /* box-shadow: 0 0 10px #555; */
    color: rgb(55, 55, 55);
}

.empty-fridge h2 {
    font-size: 3.7rem;
    margin-bottom: 4rem;
    text-align: right;
    width: 35rem;
}

.description {
    font-weight: bold;
    font-size: 2.3rem;
    color: rgb(55, 55, 55);
}

.description-text p {
    padding: 0.5rem;
}

.beige-bg {
    background-color: rgb(240, 235, 230);
    width: 100%;
    display: flex;
    align-items: center;
}

.filters-container {
    height: 50rem;
    width: 100%;
}

.bottom-container {
    display: flex;
    justify-content: space-around;
    height: 50rem;
    width: 100%;
}

.bottom-container div {
    height: 40rem;
    width: 40rem;
}

.bottom-container img {
    max-height: 100%;
    max-width: 100%;
    padding: 1.5rem;
}