.header {
    background-color: #e4f0d8;
    display: flex;
    align-items: center;
    text-align: center;
    height: 15rem;
}

.header h1 {
    font-size: 5.5rem;
    padding-bottom: 0.5rem;
    color: white;
}

.header h2 {
    font-size: 1.8rem;
}

svg {
    width: 30rem;
    height: 20rem;
    margin: 0;
    display: flex;
}

