
.footer {
    height: 6rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(55, 55, 55);;
    font-size: 1.75rem;
    color: white;
    position: relative;
    bottom: 0;
}

