.hash-nav {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.hash-nav button {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    padding: 1.5rem 6rem;
    border: 3px solid rgb(55, 55, 55);
    border-radius: 1rem;
    background-color: rgb(55, 55, 55);
    box-shadow: 0px 8px 24px 1px rgb(55, 55, 55);
}