
.filterContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.RecipeResults {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.recipeResults {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
}

