.filterContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.recipeResults {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .recipeResults {
        flex-direction: column;
        align-items: center;
    }
}