.filterContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.filterContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.RecipeResults {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.recipeResults {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
}


@media (max-width: 768px) and (min-width: 568px){
    .RecipeResults {
        flex-direction: column;
        align-items: center;        
    }
}
    

@media (max-width: 567px) and (min-width: 320px) {
    .RecipeResults {
        flex-direction: column;
        align-items: center;
     }
}

@media (max-width: 319px) {
    .RecipeResults {
        flex-direction: column;
        align-items: center;
      }
}
