input[type='checkbox'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}

input[type='checkbox'] {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background: #fff;
    border: 1px solid #ccc;
}

input[type='checkbox']:checked {
    background: rgb(55, 55, 55);
    margin:0px;
    position: relative;
  }

  label {
    display: inline-block;
    vertical-align: super;
    padding-left: 5px;
    font-size: medium;
  }

  .allergyFilter h3 {
    color: rgb(55, 55, 55);
    font-size: 2.5rem;
    padding-bottom: 2rem;
    text-align: center;
}

.allergyFilter {
  border: 2px solid rgb(55, 55, 55);
  padding: 2rem;
  border-radius: 30px;
  padding: 3%;
  width: 15%;
  box-shadow: 0px 8px 24px 1px rgb(55, 55, 55);
}

.allergies {
  padding-bottom: inherit;
}

@media (max-width: 900px) and (min-width: 769px){
  .allergyFilter {
      margin-bottom: 4rem;
      width: 20%;
  }
}

@media (max-width: 768px) and (min-width: 568px){
  .allergyFilter {
      margin-bottom: 2rem;
      width: 40%;
  }
}
  

@media (max-width: 567px) and (min-width: 320px) {
  .allergyFilter {
      margin-bottom: 2rem;
      width: 50%;
  }
  .allergyFilter h3 {
    font-size: 2rem;
    }
}

@media (max-width: 319px) {
  .allergyFilter {
      margin-bottom: 2rem;
      width: 50%;
  }
  .allergyFilter h3 {
    font-size: 1.5rem;
    }
}