.ingredients {
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 25rem;
    justify-content: space-between;
    align-items: center;
    border: 4px solid rgb(55, 55, 55);
    padding: 1rem;
    margin: auto;
}

.ingredients h3 {
    color: rgb(55, 55, 55);
    font-size: 2.5rem;
}

.ingr-inputs input[type='text'] {
    padding: 4px;
    margin: auto;
    border: 2px solid rgb(55, 55, 55);
}
