* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

.nav-button {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(55, 55, 55);
    padding: 2rem 6rem;
    border: 3px solid rgb(55, 55, 55);
    border-radius: 1.5rem;
    background-color: #e4f0d8; /* rgb(240, 235, 230); */
}

.action-button {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background-color: rgb(55, 55, 55); /* #e4f0d8; */ /* rgb(240, 235, 235); */
    border: 3px solid rgb(55, 55, 55);
    border-radius: 1rem;
    padding: 1.5rem;
}
